.site-header{
    background-color: #1bbc9b;
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.github-link{
    color:white
}

body{
    margin: 0;
}